main {
    background-color: #07B2F5;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    z-index: 0;
}

main h1 {
    font-family: Cabin,sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin: 40px 0 10px 20px
}

main h2 {
    font-family: Raleway, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin: 0 0 80px 20px
}

.head {
    height: 30%;
}

.forecast {
    height: 70%;
    background-color: white;
    padding: 35px 18px 0 18px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
    column-gap: 10px;
    row-gap: 2rem;
    place-items: center;
}

.container {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 20%;
    z-index: 1;
    left: 0;
    top: 0;
}
