main {
    background-color: #07B2F5;
    display: flex;
    flex-flow: column nowrap;
}

.head {
    height: 30%;
}

.forecast {
    height: 70%;
    background-color: white;
    padding: 35px 18px 0 18px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 10rem);
    gap: 1rem;
}
