.card {
    width:clamp(140px, 170px, 280px);
    background: #FFFFFF;
    box-shadow: 0 4px 7px 3px rgba(196, 196, 196, 0.45);
    border-radius: 35px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
}

.card img {
    width: 40px;
    height: 80px;
    grid-row: 1/3;
}
